# CP 
## 1 y var
## 14-15 column
## 700 rows
FInd on google dataset

### Bring 4-5 datasets, FCFS basis

In [154]:
c <- 3
print(c)
R.version

[1] 3

               _
platform       x86_64-pc-linux-gnu
arch           x86_64
os             linux-gnu
system         x86_64, linux-gnu
status
major          4
minor          0.4
year           2021
month          02
day            15
svn rev        80002
language       R
version.string R version 4.0.4 (2021-02-15)
nickname       Lost Library Book

Matrix: VAlues from same category
Data Frame: Different data type elements possible

In [155]:
# Column entry

matches_status <- data.frame(Name=c("Tendulkar","POting", "KAllis", "Dravis", "Kook" ),
                            Matches=c(200,168,166,164,161),
                            Innings=c(329,287,280,286,291),
                            HIghestScore=c(248,257,224,270,294),
                            Average=c(53.78, 51.85,55.37, 52.31,45.35)
                            ) 

matches_status

  Name      Matches Innings HIghestScore Average
1 Tendulkar 200     329     248          53.78
2 POting    168     287     257          51.85
3 KAllis    166     280     224          55.37
4 Dravis    164     286     270          52.31
5 Kook      161     291     294          45.35

In [156]:
str(matches_status)
# shows each and every column
# $ sign indicates column

'data.frame':	5 obs. of  5 variables:
 $ Name        : chr  "Tendulkar" "POting" "KAllis" "Dravis" ...
 $ Matches     : num  200 168 166 164 161
 $ Innings     : num  329 287 280 286 291
 $ HIghestScore: num  248 257 224 270 294
 $ Average     : num  53.8 51.9 55.4 52.3 45.4

In [157]:
class(matches_status)

[1] "data.frame"

In [158]:
summary(matches_status)

# Gives the 5 point Summary for all column

     Name              Matches         Innings       HIghestScore
 Length:5           Min.   :161.0   Min.   :280.0   Min.   :224.0
 Class :character   1st Qu.:164.0   1st Qu.:286.0   1st Qu.:248.0
 Mode  :character   Median :166.0   Median :287.0   Median :257.0
                    Mean   :171.8   Mean   :294.6   Mean   :258.6
                    3rd Qu.:168.0   3rd Qu.:291.0   3rd Qu.:270.0
                    Max.   :200.0   Max.   :329.0   Max.   :294.0
    Average
 Min.   :45.35
 1st Qu.:51.85
 Median :52.31
 Mean   :51.73
 3rd Qu.:53.78
 Max.   :55.37

In [159]:
# Can  acccess one column with $ sign 
matches_status$Matches
# individual columns are veectors

[1] 200 168 166 164 161

In [160]:
sum(matches_status$Average)

[1] 258.66

In [161]:
print(matches_status$Average[2])
print(matches_status[2,1])

[1] 51.85
[1] "POting"

In [162]:
# number of roows in data framme
nrow(matches_status)

[1] 5

In [163]:
colnames(matches_status)

[1] "Name"         "Matches"      "Innings"      "HIghestScore" "Average"

In [164]:
print(head(matches_status))
# gives top 'n'  elemnets
print(head(matches_status))
# gives last 'n' entries
print(tail(matches_status))

       Name Matches Innings HIghestScore Average
1 Tendulkar     200     329          248   53.78
2    POting     168     287          257   51.85
3    KAllis     166     280          224   55.37
4    Dravis     164     286          270   52.31
5      Kook     161     291          294   45.35
       Name Matches Innings HIghestScore Average
1 Tendulkar     200     329          248   53.78
2    POting     168     287          257   51.85
3    KAllis     166     280          224   55.37
4    Dravis     164     286          270   52.31
5      Kook     161     291          294   45.35
       Name Matches Innings HIghestScore Average
1 Tendulkar     200     329          248   53.78
2    POting     168     287          257   51.85
3    KAllis     166     280          224   55.37
4    Dravis     164     286          270   52.31
5      Kook     161     291          294   45.35

In [165]:
# Display row no 2,3 and col no 3,4
matches_status[c(2,3), c(3,4)]
# left side of comma are rows, right are columns

  Innings HIghestScore
2 287     257
3 280     224

In [166]:
matches_status[,3]

[1] 329 287 280 286 291

In [167]:
matches_status[5,]

  Name Matches Innings HIghestScore Average
5 Kook 161     291     294          45.35

In [168]:
# Add additional column.

matches_status$half_cent <- c(68,62,58,63,57)

In [169]:
matches_status

  Name      Matches Innings HIghestScore Average half_cent
1 Tendulkar 200     329     248          53.78   68
2 POting    168     287     257          51.85   62
3 KAllis    166     280     224          55.37   58
4 Dravis    164     286     270          52.31   63
5 Kook      161     291     294          45.35   57

In [170]:
# adding rows
# column name should be same
df1 <- data.frame(Name=c("Sangakara", "Lara"), Matches=c(134,144), Innings=c(233,232), HIghestScore=c(319, 400), Average=c(57.40,52.80), half_cent=c(52,48))
df1

  Name      Matches Innings HIghestScore Average half_cent
1 Sangakara 134     233     319          57.4    52
2 Lara      144     232     400          52.8    48

In [171]:
# Binding into old stat
# a.k.a adding more rows
matches_status <- rbind(matches_status, df1)
matches_status

  Name      Matches Innings HIghestScore Average half_cent
1 Tendulkar 200     329     248          53.78   68
2 POting    168     287     257          51.85   62
3 KAllis    166     280     224          55.37   58
4 Dravis    164     286     270          52.31   63
5 Kook      161     291     294          45.35   57
6 Sangakara 134     233     319          57.40   52
7 Lara      144     232     400          52.80   48

1. What is the highest score of Tendulkar? 
2. Display the name and the average of the player who is having maximum highestscore. 
3. Display the name,matches,innings and average of the players having score above 250. 
4. Find the row number of the data for which the highestscore is equal or greater than 270
5. Modify Tendulkar’s number of matches as 201.

In [172]:
#1
print(matches_status[1,4])
#2
print(max(matches_status$HIghestScore))
print(matches_status[which.max(matches_status$HIghestScore),c(1,5)])

#3
print(matches_status[which(matches_status$HIghestScore > 250),c(-4, -6)])

#4
print(which(matches_status$HIghestScore >= 270))

#5
c <- which(matches_status[,1] == "Tendulkar")
print(c)
matches_status$Matches[c]=201
print(matches_status)

[1] 248
[1] 400
  Name Average
7 Lara    52.8
       Name Matches Innings Average
2    POting     168     287   51.85
4    Dravis     164     286   52.31
5      Kook     161     291   45.35
6 Sangakara     134     233   57.40
7      Lara     144     232   52.80
[1] 4 5 6 7
[1] 1
       Name Matches Innings HIghestScore Average half_cent
1 Tendulkar     201     329          248   53.78        68
2    POting     168     287          257   51.85        62
3    KAllis     166     280          224   55.37        58
4    Dravis     164     286          270   52.31        63
5      Kook     161     291          294   45.35        57
6 Sangakara     134     233          319   57.40        52
7      Lara     144     232          400   52.80        48

In [173]:
# Dataset -> internal or external
# internal -> Iris, Women, etc 
data()

Data sets in package ‘datasets’:

AirPassengers           Monthly Airline Passenger Numbers 1949-1960
BJsales                 Sales Data with Leading Indicator
BJsales.lead (BJsales)
                        Sales Data with Leading Indicator
BOD                     Biochemical Oxygen Demand
CO2                     Carbon Dioxide Uptake in Grass Plants
ChickWeight             Weight versus age of chicks on different diets
DNase                   Elisa assay of DNase
EuStockMarkets          Daily Closing Prices of Major European Stock
                        Indices, 1991-1998
Formaldehyde            Determination of Formaldehyde
HairEyeColor            Hair and Eye Color of Statistics Students
Harman23.cor            Harman Example 2.3
Harman74.cor            Harman Example 7.4
Indometh                Pharmacokinetics of Indomethacin
InsectSprays            Effectiveness of Insect Sprays
JohnsonJohnson          Quarterly Earnings per Johnson & Johnson Share
LakeHuron               Level of Lake Huron 1875-1972
LifeCycleSavings        Intercountry Life-Cycle Savings Data
Loblolly                Growth of Loblolly pine trees
Nile                    Flow of the River Nile
Orange                  Growth of Orange Trees
OrchardSprays           Potency of Orchard Sprays
PlantGrowth             Results from an Experiment on Plant Growth
Puromycin               Reaction Velocity of an Enzymatic Reaction
Seatbelts               Road Casualties in Great Britain 1969-84
Theoph                  Pharmacokinetics of Theophylline
Titanic                 Survival of passengers on the Titanic
ToothGrowth             The Effect of Vitamin C on Tooth Growth in
                        Guinea Pigs
UCBAdmissions           Student Admissions at UC Berkeley
UKDriverDeaths          Road Casualties in Great Britain 1969-84
UKgas                   UK Quarterly Gas Consumption
USAccDeaths             Accidental Deaths in the US 1973-1978
USArrests               Violent Crime Rates by US State
USJudgeRatings          Lawyers' Ratings of State Judges in the US
                        Superior Court
USPersonalExpenditure   Personal Expenditure Data
UScitiesD               Distances Between European Cities and Between
                        US Cities
VADeaths                Death Rates in Virginia (1940)
WWWusage                Internet Usage per Minute
WorldPhones             The World's Telephones
ability.cov             Ability and Intelligence Tests
airmiles                Passenger Miles on Commercial US Airlines,
                        1937-1960
airquality              New York Air Quality Measurements
anscombe                Anscombe's Quartet of 'Identical' Simple Linear
                        Regressions
attenu                  The Joyner-Boore Attenuation Data
attitude                The Chatterjee-Price Attitude Data
austres                 Quarterly Time Series of the Number of
                        Australian Residents
beaver1 (beavers)       Body Temperature Series of Two Beavers
beaver2 (beavers)       Body Temperature Series of Two Beavers
cars                    Speed and Stopping Distances of Cars
chickwts                Chicken Weights by Feed Type
co2                     Mauna Loa Atmospheric CO2 Concentration
crimtab                 Student's 3000 Criminals Data
discoveries             Yearly Numbers of Important Discoveries
esoph                   Smoking, Alcohol and (O)esophageal Cancer
euro                    Conversion Rates of Euro Currencies
euro.cross (euro)       Conversion Rates of Euro Currencies
eurodist                Distances Between European Cities and Between
                        US Cities
faithful                Old Faithful Geyser Data
fdeaths (UKLungDeaths)
                        Monthly Deaths from Lung Diseases in the UK
freeny                  Freeny's Revenue Data
freeny.x (freeny)       Freeny's Revenue Data
freeny.y (freeny)       Freeny's Revenue Data
infert                  Infertility after Spontaneous and Induced
                        Abortion
iris                    Edgar Anderson's Iris Data
iris3                   Edgar Anderson's Iris Data
islands                 Areas of the World's Major Landmasses
ldeaths (UKLungDeaths)
                        Monthly Deaths from Lung Diseases in the UK
lh                      Luteinizing Hormone in Blood Samples
longley                 Longley's Economic Regression Data
lynx                    Annual Canadian Lynx trappings 1821-1934
mdeaths (UKLungDeaths)
                        Monthly Deaths from Lung Diseases in the UK
morley                  Michelson Speed of Light Data
mtcars                  Motor Trend Car Road Tests
nhtemp                  Average Yearly Temperatures in New Haven
nottem                  Average Monthly Temperatures at Nottingham,
                        1920-1939
npk                     Classical N, P, K Factorial Experiment
occupationalStatus      Occupational Status of Fathers and their Sons
precip                  Annual Precipitation in US Cities
presidents              Quarterly Approval Ratings of US Presidents
pressure                Vapor Pressure of Mercury as a Function of
                        Temperature
quakes                  Locations of Earthquakes off Fiji
randu                   Random Numbers from Congruential Generator
                        RANDU
rivers                  Lengths of Major North American Rivers
rock                    Measurements on Petroleum Rock Samples
sleep                   Student's Sleep Data
stack.loss (stackloss)
                        Brownlee's Stack Loss Plant Data
stack.x (stackloss)     Brownlee's Stack Loss Plant Data
stackloss               Brownlee's Stack Loss Plant Data
state.abb (state)       US State Facts and Figures
state.area (state)      US State Facts and Figures
state.center (state)    US State Facts and Figures
state.division (state)
                        US State Facts and Figures
state.name (state)      US State Facts and Figures
state.region (state)    US State Facts and Figures
state.x77 (state)       US State Facts and Figures
sunspot.month           Monthly Sunspot Data, from 1749 to "Present"
sunspot.year            Yearly Sunspot Data, 1700-1988
sunspots                Monthly Sunspot Numbers, 1749-1983
swiss                   Swiss Fertility and Socioeconomic Indicators
                        (1888) Data
treering                Yearly Treering Data, -6000-1979
trees                   Diameter, Height and Volume for Black Cherry
                        Trees
uspop                   Populations Recorded by the US Census
volcano                 Topographic Information on Auckland's Maunga
                        Whau Volcano
warpbreaks              The Number of Breaks in Yarn during Weaving
women                   Average Heights and Weights for American Women

Use ‘data(package = .packages(all.available = TRUE))’
to list the data sets in all *available* packages.

In [180]:
iris

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1   5.1          3.5         1.4          0.2         setosa
2   4.9          3.0         1.4          0.2         setosa
3   4.7          3.2         1.3          0.2         setosa
4   4.6          3.1         1.5          0.2         setosa
5   5.0          3.6         1.4          0.2         setosa
6   5.4          3.9         1.7          0.4         setosa
7   4.6          3.4         1.4          0.3         setosa
8   5.0          3.4         1.5          0.2         setosa
9   4.4          2.9         1.4          0.2         setosa
10  4.9          3.1         1.5          0.1         setosa
11  5.4          3.7         1.5          0.2         setosa
12  4.8          3.4         1.6          0.2         setosa
13  4.8          3.0         1.4          0.1         setosa
14  4.3          3.0         1.1          0.1         setosa
15  5.8          4.0         1.2          0.2         setosa
16  5.7          4.4         1.5          0.4         setosa
17  5.4          3.9         1.3          0.4         setosa
18  5.1          3.5         1.4          0.3         setosa
19  5.7          3.8         1.7          0.3         setosa
20  5.1          3.8         1.5          0.3         setosa
21  5.4          3.4         1.7          0.2         setosa
22  5.1          3.7         1.5          0.4         setosa
23  4.6          3.6         1.0          0.2         setosa
24  5.1          3.3         1.7          0.5         setosa
25  4.8          3.4         1.9          0.2         setosa
26  5.0          3.0         1.6          0.2         setosa
27  5.0          3.4         1.6          0.4         setosa
28  5.2          3.5         1.5          0.2         setosa
29  5.2          3.4         1.4          0.2         setosa
30  4.7          3.2         1.6          0.2         setosa
⋮   ⋮            ⋮           ⋮            ⋮           ⋮
121 6.9          3.2         5.7          2.3         virginica
122 5.6          2.8         4.9          2.0         virginica
123 7.7          2.8         6.7          2.0         virginica
124 6.3          2.7         4.9          1.8         virginica
125 6.7          3.3         5.7          2.1         virginica
126 7.2          3.2         6.0          1.8         virginica
127 6.2          2.8         4.8          1.8         virginica
128 6.1          3.0         4.9          1.8         virginica
129 6.4          2.8         5.6          2.1         virginica
130 7.2          3.0         5.8          1.6         virginica
131 7.4          2.8         6.1          1.9         virginica
132 7.9          3.8         6.4          2.0         virginica
133 6.4          2.8         5.6          2.2         virginica
134 6.3          2.8         5.1          1.5         virginica
135 6.1          2.6         5.6          1.4         virginica
136 7.7          3.0         6.1          2.3         virginica
137 6.3          3.4         5.6          2.4         virginica
138 6.4          3.1         5.5          1.8         virginica
139 6.0          3.0         4.8          1.8         virginica
140 6.9          3.1         5.4          2.1         virginica
141 6.7          3.1         5.6          2.4         virginica
142 6.9          3.1         5.1          2.3         virginica
143 5.8          2.7         5.1          1.9         virginica
144 6.8          3.2         5.9          2.3         virginica
145 6.7          3.3         5.7          2.5         virginica
146 6.7          3.0         5.2          2.3         virginica
147 6.3          2.5         5.0          1.9         virginica
148 6.5          3.0         5.2          2.0         virginica
149 6.2          3.4         5.4          2.3         virginica
150 5.9          3.0         5.1          1.8         virginica

In [181]:
women

   height weight
1  58     115
2  59     117
3  60     120
4  61     123
5  62     126
6  63     129
7  64     132
8  65     135
9  66     139
10 67     142
11 68     146
12 69     150
13 70     154
14 71     159
15 72     164

In [182]:
# install packages
install.packages("ggplot2")

Installing package into ‘/home/ziegler/R/x86_64-pc-linux-gnu-library/4.0’
(as ‘lib’ is unspecified)

also installing the dependencies ‘colorspace’, ‘farver’, ‘labeling’, ‘munsell’, ‘RColorBrewer’, ‘viridisLite’, ‘pkgconfig’, ‘gtable’, ‘isoband’, ‘scales’, ‘tibble’

In [2]:
library("ggplot2")

ERROR: Error in library("ggplot2"): there is no package called ‘ggplot2’

In [ ]:
install.packages("dslabs")

ERROR: Error in library("ggplot2"): there is no package called ‘ggplot2’