In [1]:
seeds_data <- read.csv("../datasets/germination_csv.csv")
seeds_data

   Box       water_amt germinated
1  Uncovered 1         22
2  Uncovered 1         25
3  Uncovered 1         27
4  Uncovered 1         23
5  Uncovered 2         41
6  Uncovered 2         46
7  Uncovered 2         59
8  Uncovered 2         38
9  Uncovered 3         66
10 Uncovered 3         72
11 Uncovered 3         51
12 Uncovered 3         78
13 Uncovered 4         82
14 Uncovered 4         73
15 Uncovered 4         73
16 Uncovered 4         84
17 Uncovered 5         79
18 Uncovered 5         68
19 Uncovered 5         74
20 Uncovered 5         70
21 Uncovered 6          0
22 Uncovered 6          0
23 Uncovered 6          0
24 Uncovered 6          0
25 Covered   1         45
26 Covered   1         41
27 Covered   1         42
28 Covered   1         43
29 Covered   2         65
30 Covered   2         80
31 Covered   2         79
32 Covered   2         77
33 Covered   3         81
34 Covered   3         73
35 Covered   3         74
36 Covered   3         76
37 Covered   4         55
38 Covered   4         51
39 Covered   4         40
40 Covered   4         62
41 Covered   5         31
42 Covered   5         36
43 Covered   5         45
44 Covered   5         39
45 Covered   6          0
46 Covered   6          0
47 Covered   6          0
48 Covered   6          0

In [2]:

average_germinated_uncovered <- mean(seeds_data$germinated[seeds_data$Box == "Uncovered" & seeds_data$water_amt == 4])

median_germinated_covered <- median(seeds_data$germinated[seeds_data$Box == "Covered"])

cat("1. Average number of seeds germinated for uncovered boxes with watering level 4:", average_germinated_uncovered, "\n")
cat("2. Median value of germinated seeds for covered boxes:", median_germinated_covered, "\n")

1. Average number of seeds germinated for uncovered boxes with watering level 4: 78
2. Median value of germinated seeds for covered boxes: 45