In [ ]:
data()

In [ ]:
help(iris)

In [ ]:
iris

In [ ]:
qq <- iris$Sepal.Length

In [22]:
f <- read.csv("../datasets/pollutant_csv.csv")
f
# header = true, means first row is considered as column name

    Ozone Solar.R Wind Temp Month Day
1    41   190      7.4 67   5      1
2    36   118      8.0 72   5      2
3    12   149     12.6 74   5      3
4    18   313     11.5 62   5      4
5    NA    NA     14.3 56   5      5
6    28    NA     14.9 66   5      6
7    23   299      8.6 65   5      7
8    19    99     13.8 59   5      8
9     8    19     20.1 61   5      9
10   NA   194      8.6 69   5     10
11    7    NA      6.9 74   5     11
12   16   256      9.7 69   5     12
13   11   290      9.2 66   5     13
14   14   274     10.9 68   5     14
15   18    65     13.2 58   5     15
16   14   334     11.5 64   5     16
17   34   307     12.0 66   5     17
18    6    78     18.4 57   5     18
19   30   322     11.5 68   5     19
20   11    44      9.7 62   5     20
21    1     8      9.7 59   5     21
22   11   320     16.6 73   5     22
23    4    25      9.7 61   5     23
24   32    92     12.0 61   5     24
25   NA    66     16.6 57   5     25
26   NA   266     14.9 58   5     26
27   NA    NA      8.0 57   5     27
28   23    13     12.0 67   5     28
29   45   252     14.9 81   5     29
30  115   223      5.7 79   5     30
⋮   ⋮     ⋮       ⋮    ⋮    ⋮     ⋮
124 96    167      6.9 91   9      1
125 78    197      5.1 92   9      2
126 73    183      2.8 93   9      3
127 91    189      4.6 93   9      4
128 47     95      7.4 87   9      5
129 32     92     15.5 84   9      6
130 20    252     10.9 80   9      7
131 23    220     10.3 78   9      8
132 21    230     10.9 75   9      9
133 24    259      9.7 73   9     10
134 44    236     14.9 81   9     11
135 21    259     15.5 76   9     12
136 28    238      6.3 77   9     13
137  9     24     10.9 71   9     14
138 13    112     11.5 71   9     15
139 46    237      6.9 78   9     16
140 18    224     13.8 67   9     17
141 13     27     10.3 76   9     18
142 24    238     10.3 68   9     19
143 16    201      8.0 82   9     20
144 13    238     12.6 64   9     21
145 23     14      9.2 71   9     22
146 36    139     10.3 81   9     23
147  7     49     10.3 69   9     24
148 14     20     16.6 63   9     25
149 30    193      6.9 70   9     26
150 NA    145     13.2 77   9     27
151 14    191     14.3 75   9     28
152 18    131      8.0 76   9     29
153 20    223     11.5 68   9     30

In [23]:
getwd()

[1] "/home/ziegler/Documents/DataScience/projects"

R by default converts blank values to N.A

# Qustions

What is the mean of “Temp” when “Month” is equal to 6?

In [38]:
a <- f[which(f$Month == 6), c(4, 5)]
print(mean(f[which(f$Month == 6), c(4)]))

print(mean(f$Temp[f$Month == 6]))

[1] 79.1
[1] 79.1

How many observations are there in the given data?

In [36]:
nrow(f)

[1] 153

Print last two rows of the data.

In [37]:
tail(f,n = 2)

    Ozone Solar.R Wind Temp Month Day
152 18    131      8.0 76   9     29
153 20    223     11.5 68   9     30

What is the value of Ozone in 47th row?

In [39]:
print(f$Ozone[47])

[1] 21

How many values are missing in Ozone column?

In [51]:


#print(is.na(f))
print(sum(is.na(f$Ozone) == TRUE))

[1] 37

What is the mean of Ozone column excluding missing values?

In [72]:
non <- mean(f$Ozone, na.rm = TRUE)
non
# Removes NA values

[1] 42.12931

Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values are above 90.   What is the mean of Solar.R in this subset?

In [100]:
sub <- f[which(f$Ozone > 31 & f$Temp > 90),]
print(sub)
m <- mean(sub$Solar.R)
print(m)

    Ozone Solar.R Wind Temp Month Day
69     97     267  6.3   92     7   8
70     97     272  5.7   92     7   9
120    76     203  9.7   97     8  28
121   118     225  2.3   94     8  29
122    84     237  6.3   96     8  30
123    85     188  6.3   94     8  31
124    96     167  6.9   91     9   1
125    78     197  5.1   92     9   2
126    73     183  2.8   93     9   3
127    91     189  4.6   93     9   4
[1] 212.8

What was the maximum ozone value in the month of May (i.e. Month is equal to 5)?

In [95]:
oz <- f[which(f$Month == 5),  ]
print(oz)
m <- max(oz$Ozone,na.rm = TRUE)
print(m)

   Ozone Solar.R Wind Temp Month Day
1     41     190  7.4   67     5   1
2     36     118  8.0   72     5   2
3     12     149 12.6   74     5   3
4     18     313 11.5   62     5   4
5     NA      NA 14.3   56     5   5
6     28      NA 14.9   66     5   6
7     23     299  8.6   65     5   7
8     19      99 13.8   59     5   8
9      8      19 20.1   61     5   9
10    NA     194  8.6   69     5  10
11     7      NA  6.9   74     5  11
12    16     256  9.7   69     5  12
13    11     290  9.2   66     5  13
14    14     274 10.9   68     5  14
15    18      65 13.2   58     5  15
16    14     334 11.5   64     5  16
17    34     307 12.0   66     5  17
18     6      78 18.4   57     5  18
19    30     322 11.5   68     5  19
20    11      44  9.7   62     5  20
21     1       8  9.7   59     5  21
22    11     320 16.6   73     5  22
23     4      25  9.7   61     5  23
24    32      92 12.0   61     5  24
25    NA      66 16.6   57     5  25
26    NA     266 14.9   58     5  26
27    NA      NA  8.0   57     5  27
28    23      13 12.0   67     5  28
29    45     252 14.9   81     5  29
30   115     223  5.7   79     5  30
31    37     279  7.4   76     5  31
[1] 115

#### Entire row is removed with `na.rn = TRUE` even if one value is blank

Might remove many values, so we impute the values, i.e replace  them with the mean of the column. This is called mean imputation

Mean, Median, KNN, Random Forest imputation algorithms
Can be done with experimentation only