# Pollutant Dataset

In [2]:
f <- read.csv("../datasets/pollutant_csv.csv")

In [27]:
m <- mean(f[which(f$Month == 6), c(4)])
cat("1. Mean of temp when month is 6: ", m)

n <- nrow(f)
cat("\n2. Mean of temp when month is 6: ", n)

o <- tail(f,n = 2)
cat("\n3. Last two rows of the data: ")
o

p <- f$Ozone[47]
cat("\n4. Value of Ozone in 47th row: ", p)

q <- sum(is.na(f$Ozone) == TRUE)
cat("\n5. Number of Values are missing in Ozone column ", q)


r <- mean(f$Ozone, na.rm = TRUE)
cat("\n6. Mean of Ozone column excluding missing values: ", r)

sub <- f[which(f$Ozone > 31 & f$Temp > 90),]
s <- mean(sub$Solar.R)
cat("\n7. mean of Solar.R in ubset of rows of the data frame where Ozone values are above 31 and Temp values are above 90: ", s)

oz <- f[which(f$Month == 5),  ]
t <- max(oz$Ozone,na.rm = TRUE)
cat("\n8. Mmaximum ozone value in the month of May: ", t)

1. Mean of temp when month is 6:  79.1
2. Mean of temp when month is 6:  153
3. Last two rows of the data:

    Ozone Solar.R Wind Temp Month Day
152 18    131      8.0 76   9     29
153 20    223     11.5 68   9     30

4. Value of Ozone in 47th row:  21
5. Number of Values are missing in Ozone column  37
6. Mean of Ozone column excluding missing values:  42.12931
7. mean of Solar.R in ubset of rows of the data frame where Ozone values are above 31 and Temp values are above 90:  212.8

8. Mmaximum ozone value in the month of May:  115

In [28]:
# Do other 2 dataset till next Lab

In [29]:
library('dslabs')