# Pollutant Dataset

In [13]:
f <- read.csv("../datasets/pollutant_csv.csv")

In [14]:
m <- mean(f[which(f$Month == 6), c(4)])
cat("1. Mean of temp when month is 6: ", m)

n <- nrow(f)
cat("\n2. Mean of temp when month is 6: ", n)

o <- tail(f,n = 2)
cat("\n3. Last two rows of the data: ")
o

p <- f$Ozone[47]
cat("\n4. Value of Ozone in 47th row: ", p)

q <- sum(is.na(f$Ozone) == TRUE)
cat("\n5. Number of Values are missing in Ozone column ", q)


r <- mean(f$Ozone, na.rm = TRUE)
cat("\n6. Mean of Ozone column excluding missing values: ", r)

sub <- f[which(f$Ozone > 31 & f$Temp > 90),]
s <- mean(sub$Solar.R)
cat("\n7. mean of Solar.R in ubset of rows of the data frame where Ozone values are above 31 and Temp values are above 90: ", s)

oz <- f[which(f$Month == 5),  ]
t <- max(oz$Ozone,na.rm = TRUE)
cat("\n8. Mmaximum ozone value in the month of May: ", t)

1. Mean of temp when month is 6:  79.1
2. Mean of temp when month is 6:  153
3. Last two rows of the data:

    Ozone Solar.R Wind Temp Month Day
152 18    131      8.0 76   9     29
153 20    223     11.5 68   9     30

4. Value of Ozone in 47th row:  21
5. Number of Values are missing in Ozone column  37
6. Mean of Ozone column excluding missing values:  42.12931
7. mean of Solar.R in ubset of rows of the data frame where Ozone values are above 31 and Temp values are above 90:  212.8
8. Mmaximum ozone value in the month of May:  115

In [15]:
# Do other 2 dataset till next Lab

In [16]:
#library('dslabs')

In [17]:
h <- read.csv("../datasets/hair_eye_color_csv.csv")
h

   Person.No. Hair.Color Eye.Color
1   1         Blonde     Blue
2   2         Blonde     Blue
3   3         Blonde     Green
4   4         Blonde     Brown
5   5         Blonde     Brown
6   6         Blonde     Black
7   7         Red        Blue
8   8         Red        Green
9   9         Red        Brown
10 10         Red        Brown
11 11         Brown      Blue
12 12         Brown      Brown
13 13         Brown      Brown
14 14         Brown      Brown
15 15         Brown      Brown
16 16         Brown      Black
17 17         Brown      Black
18 18         Black      Blue
19 19         Black      Brown
20 20         Black      Brown

    2. Write a single R code to display the answers the following questions

Case Study: Hair Eye color Data set

    1. How many people have brown eye color?
    2. How many people have Blonde hair?
    3. How many Brown haired people have Black eyes?
    4. What is the percentage of people with Green eyes?
    5. What percentage of people have red hair and Blue eyes?

In [18]:

brown_eye_count <- sum(h$Eye.Color == "Brown")
brown_eye_count

[1] 10

In [19]:
blll <- sum(h$Hair.Color == "Blonde")
blll

[1] 6

In [20]:
bb <- sum(h$Hair.Color == "Brown" & h$Eye.Color == "Black")
bb

[1] 2

In [21]:
grrr <- sum(h$Eye.Color == "Green")
grrr
length(h$Person.No.)
grrr * 100 / length(h$Person.No.)

[1] 2

[1] 20

[1] 10

In [22]:
rr <- sum(h$Hair.Color == "Red" & h$Eye.Color == "Blue")
rr

length(h$Person.No.)
rr * 100 / length(h$Person.No.)

[1] 1

[1] 20

[1] 5

    1. What is the average number of seeds germinated for the uncovered boxes with level of watering equal to 4?
    2. What is the median value of the germinated seeds for the data covered boxes?

In [23]:
seeds_data <- read.csv("../datasets/germination_csv.csv")
seeds_data

   Box       water_amt germinated
1  Uncovered 1         22
2  Uncovered 1         25
3  Uncovered 1         27
4  Uncovered 1         23
5  Uncovered 2         41
6  Uncovered 2         46
7  Uncovered 2         59
8  Uncovered 2         38
9  Uncovered 3         66
10 Uncovered 3         72
11 Uncovered 3         51
12 Uncovered 3         78
13 Uncovered 4         82
14 Uncovered 4         73
15 Uncovered 4         73
16 Uncovered 4         84
17 Uncovered 5         79
18 Uncovered 5         68
19 Uncovered 5         74
20 Uncovered 5         70
21 Uncovered 6          0
22 Uncovered 6          0
23 Uncovered 6          0
24 Uncovered 6          0
25 Covered   1         45
26 Covered   1         41
27 Covered   1         42
28 Covered   1         43
29 Covered   2         65
30 Covered   2         80
31 Covered   2         79
32 Covered   2         77
33 Covered   3         81
34 Covered   3         73
35 Covered   3         74
36 Covered   3         76
37 Covered   4         55
38 Covered   4         51
39 Covered   4         40
40 Covered   4         62
41 Covered   5         31
42 Covered   5         36
43 Covered   5         45
44 Covered   5         39
45 Covered   6          0
46 Covered   6          0
47 Covered   6          0
48 Covered   6          0

In [24]:
# Assuming 'seeds_data' is your data frame

# 1. What is the average number of seeds germinated for the uncovered boxes with level of watering equal to 4?
average_germinated_uncovered <- mean(seeds_data$germinated[seeds_data$Box == "Uncovered" & seeds_data$water_amt == 4])

# 2. What is the median value of the germinated seeds for the data covered boxes?
median_germinated_covered <- median(seeds_data$germinated[seeds_data$Box == "Covered"])

# Displaying the answers
cat("1. Average number of seeds germinated for uncovered boxes with watering level 4:", average_germinated_uncovered, "\n")
cat("2. Median value of germinated seeds for covered boxes:", median_germinated_covered, "\n")

1. Average number of seeds germinated for uncovered boxes with watering level 4: 78
2. Median value of germinated seeds for covered boxes: 45