# Hypothesis Testing

Suppose the manufacturer claims that the mean lifetime of a ball bearing is 10000hours. The auditing team stated that the mean lifetime is less than what is claimed. On the basis of a randomly chosen sample of 50 ball bearings as given in the dataset, at 0.05 significance level, can we reject the claim of the manufacturer? What will be your interpretation if the significance level is made as 0.01? Consider the data set titled “Hypothesis_csv1.csv”.

The nutrition label on a bag of potato chips says that a one ounce (28 gram) serving of potato chips has 130 calories and contains ten grams of fat, with three grams of saturated fat. A random sample of 35 bags yielded a sample mean of 134 calories with a standard deviation of 17 calories. Is there evidence that the nutrition label does not provide an accurate measure of calories in the bags of potato chips? We have verified the independence, sample size, and skew conditions are satisfied. Take alpha as 5% and 1%.

display mean

display std dev
p value
2 statement s for a = 0.05 and a = 0.01

if p vval < 0.05
print("rejected)

else 
not rejected

In [2]:
h0 <- 100
hh <- "LEss than 100"

In [3]:
f <- read.csv("../datasets/Hypothesis_csv1.csv")
f

   SNO Life_Hrs
1   1   9859.01
2   2  10111.94
3   3  10023.41
4   4   9770.15
5   5  10158.63
6   6   9639.62
7   7  10055.09
8   8  10095.38
9   9   9990.29
10 10   9883.86
11 11  10071.64
12 12   9685.03
13 13   9897.37
14 14   9918.80
15 15   9948.09
16 16   9963.22
17 17   9932.52
18 18   9775.70
19 19  10098.47
20 20   9870.34
21 21  10031.14
22 22   9992.01
23 23  10037.81
24 24  10065.94
25 25   9903.96
26 26  10134.47
27 27  10007.85
28 28   9810.02
29 29  10142.73
30 30   9824.97
31 31  10023.30
32 32  10109.40
33 33   9788.34
34 34   9833.43
35 35   9992.57
36 36  10020.62
37 37  10083.13
38 38  10022.64
39 39   9861.12
40 40  10001.23
41 41   9937.17
42 42  10084.14
43 43   9905.46
44 44  10065.08
45 45  10050.98
46 46   9641.05
47 47   9883.92
48 48  10199.71
49 49  10033.67
50 50  10013.62

In [11]:
# Read the dataset
data <- read.csv("../datasets/Hypothesis_csv1.csv")

# Given data
sample_mean <- mean(data$Life_Hrs)
sample_size <- length(data$Life_Hrs)
population_mean <- 10000
population_sd <- sd(data$Life_Hrs)

# Compute the test statistic
z_score <- (sample_mean - population_mean) / (population_sd / sqrt(sample_size))

# Compute the p-value
p_value <- pnorm(z_score)

# 0.05 significance level
alpha_1 <- 0.05
critical_value_1 <- qnorm(alpha_1)

# 0.01 significance level
alpha_2 <- 0.01
critical_value_2 <- qnorm(alpha_2)

# Print results
cat("Sample Mean:", sample_mean, "\n")
cat("Test Statistic (z-score):", z_score, "\n")
cat("p-value:", p_value, "\n")

# Decision for 0.05 significance level
cat("At 0.05 significance level:\n")
if (p_value < alpha_1) {
  cat("Reject the null hypothesis.\n")
} else {
  cat("Don't reject the null hypothesis.\n")
}

# Decision for 0.01 significance level
cat("At 0.01 significance level:\n")
if (p_value < alpha_2) {
  cat("Reject the null hypothesis.\n")
} else {
  cat("Don't reject the null hypothesis.\n")
}

Sample Mean: 9965.001
Test Statistic (z-score): -1.872394
p-value: 0.03057603
At 0.05 significance level:
Reject the null hypothesis.
At 0.01 significance level:
Don't reject the null hypothesis.

In [12]:
# Given data
sample_mean <- 134
sample_sd <- 17
population_mean <- 130
sample_size <- 35

# Compute the test statistic
z_score <- (sample_mean - population_mean) / (sample_sd / sqrt(sample_size))

# Compute the p-value
p_value <- pnorm(z_score)

# 0.05 significance level
alpha_1 <- 0.05
critical_value_1 <- qnorm(alpha_1)

# 0.01 significance level
alpha_2 <- 0.01
critical_value_2 <- qnorm(alpha_2)

# Print results
cat("Test Statistic (z-score):", z_score, "\n")
cat("p-value:", p_value, "\n")

# Decision for 0.05 significance level
cat("At 0.05 significance level:\n")
if (p_value < alpha_1) {
  cat("Reject the null hypothesis.\n")
} else {
  cat("Don't reject the null hypothesis.\n")
}

# Decision for 0.01 significance level
cat("At 0.01 significance level:\n")
if (p_value < alpha_2) {
  cat("Reject the null hypothesis.\n")
} else {
  cat("Don't reject the null hypothesis.\n")
}

Test Statistic (z-score): 1.392019
p-value: 0.9180416
At 0.05 significance level:
Don't reject the null hypothesis.
At 0.01 significance level:

Don't reject the null hypothesis.