# Hypothesis Testing

Suppose the manufacturer claims that the mean lifetime of a ball bearing is 10000hours. The auditing team stated that the mean lifetime is less than what is claimed. On the basis of a randomly chosen sample of 50 ball bearings as given in the dataset, at 0.05 significance level, can we reject the claim of the manufacturer? What will be your interpretation if the significance level is made as 0.01? Consider the data set titled “Hypothesis_csv1.csv”.

The nutrition label on a bag of potato chips says that a one ounce (28 gram) serving of potato chips has 130 calories and contains ten grams of fat, with three grams of saturated fat. A random sample of 35 bags yielded a sample mean of 134 calories with a standard deviation of 17 calories. Is there evidence that the nutrition label does not provide an accurate measure of calories in the bags of potato chips? We have verified the independence, sample size, and skew conditions are satisfied. Take alpha as 5% and 1%.

display mean

display std dev
p value
2 statement s for a = 0.05 and a = 0.01

if p vval < 0.05
print("rejected)

else 
not rejected

In [ ]:

H0 = 100
alternative_hypothesis = "Less than 100"

In [6]:
import pandas as pd
import numpy as np
from scipy.stats import norm

In [3]:
df=pd.read_csv("../datasets/Hypothesis_csv1.csv")
df

    SNO  Life_Hrs
0     1   9859.01
1     2  10111.94
2     3  10023.41
3     4   9770.15
4     5  10158.63
5     6   9639.62
6     7  10055.09
7     8  10095.38
8     9   9990.29
9    10   9883.86
10   11  10071.64
11   12   9685.03
12   13   9897.37
13   14   9918.80
14   15   9948.09
15   16   9963.22
16   17   9932.52
17   18   9775.70
18   19  10098.47
19   20   9870.34
20   21  10031.14
21   22   9992.01
22   23  10037.81
23   24  10065.94
24   25   9903.96
25   26  10134.47
26   27  10007.85
27   28   9810.02
28   29  10142.73
29   30   9824.97
30   31  10023.30
31   32  10109.40
32   33   9788.34
33   34   9833.43
34   35   9992.57
35   36  10020.62
36   37  10083.13
37   38  10022.64
38   39   9861.12
39   40  10001.23
40   41   9937.17
41   42  10084.14
42   43   9905.46
43   44  10065.08
44   45  10050.98
45   46   9641.05
46   47   9883.92
47   48  10199.71
48   49  10033.67
49   50  10013.62

In [ ]:
# Read the CSV file
data = pd.read_csv("../datasets/Hypothesis_csv1.csv")

# Extract sample statistics
sample_mean = data['Life_Hrs'].mean()
sample_size = len(data['Life_Hrs'])
population_mean = 10000
population_sd = data['Life_Hrs'].std()

# Calculate standard error and z-score
standard_error = population_sd / np.sqrt(sample_size)
z_score = (sample_mean - population_mean) / standard_error
p_value = norm.cdf(z_score)  # Left-tailed test

print("Standard Error:", standard_error)
print("Sample Mean:", sample_mean)
print("Test Statistic (z-score):", z_score)
print("p-value:", p_value)

# 0.05 significance level
alpha_1 = 0.05
critical_value_1 = norm.ppf(alpha_1)

print("\nAt 0.05 significance level:")
if p_value < alpha_1:
    print("Reject the null hypothesis.")
else:
    print("Don't reject the null hypothesis.")

# 0.01 significance level
alpha_2 = 0.01
critical_value_2 = norm.ppf(alpha_2)

print("\nAt 0.01 significance level:")
if p_value < alpha_2:
    print("Reject the null hypothesis.")
else:
    print("Don't reject the null hypothesis.")

Standard Error: 18.692215098619535
Sample Mean: 9965.000799999998
Test Statistic (z-score): -1.8723944602256795
p-value: 0.030576025445794502

At 0.05 significance level:
Reject the null hypothesis.

At 0.01 significance level:
Don't reject the null hypothesis.

In [ ]:
# Given data
sample_mean = 134
sample_sd = 17
population_mean = 130
sample_size = 35

# Calculate standard error
standard_error = sample_sd / np.sqrt(sample_size)

# Calculate z-score
z_score = (sample_mean - population_mean) / standard_error

# Two-tailed p-value
# Since it's a two-tailed test, we multiply the one-tail p-value by 2
p_value = norm.sf(z_score) * 2  # sf = 1 - cdf, gives upper tail probability

# Significance levels
alpha_1 = 0.05
alpha_2 = 0.01

# Output
print(f"Standard Error: {standard_error}")
print(f"Z Score: {z_score}")
print(f"p-value: {p_value}")

# Decision at 0.05 level
print("\nAt 0.05 significance level:")
if p_value < alpha_1:
    print("Reject the null hypothesis.")
else:
    print("Don't reject the null hypothesis.")

# Decision at 0.01 level
print("\nAt 0.01 significance level:")
if p_value < alpha_2:
    print("Reject the null hypothesis.")
else:
    print("Don't reject the null hypothesis.")

Standard Error: 2.8735244660769563
Z Score: 1.3920187724940274
p-value: 0.16391671338056546

At 0.05 significance level:
Don't reject the null hypothesis.

At 0.01 significance level:
Don't reject the null hypothesis.