# Nearest Neighbour

In [2]:
f <- read.csv("../datasets/knn1_csv.csv")
f

   sno x   y   class
1   1  0.8 0.8 1
2   2  1.0 1.0 1
3   3  1.2 0.8 1
4   4  0.8 1.2 1
5   5  1.2 1.2 1
6   6  4.0 3.0 2
7   7  3.8 2.8 2
8   8  4.2 2.8 2
9   9  3.8 3.2 2
10 10  4.2 3.2 2
11 11  4.4 2.8 2
12 12  4.4 3.2 2
13 13  3.2 0.4 3
14 14  3.2 0.7 3
15 15  3.8 0.5 3
16 16  3.5 1.0 3
17 17  4.0 1.0 3
18 18  4.0 0.7 3

In [3]:
x <- 3
y <- 2

In [4]:
dist = sqrt((x - f$x)^2 + (y - f$y)^2)
dist

 [1] 2.505993 2.236068 2.163331 2.340940 1.969772 1.414214 1.131371 1.442221
 [9] 1.442221 1.697056 1.612452 1.843909 1.612452 1.315295 1.700000 1.118034
[17] 1.414214 1.640122

In [5]:
f <- cbind(f, dist)
f

   sno x   y   class dist
1   1  0.8 0.8 1     2.505993
2   2  1.0 1.0 1     2.236068
3   3  1.2 0.8 1     2.163331
4   4  0.8 1.2 1     2.340940
5   5  1.2 1.2 1     1.969772
6   6  4.0 3.0 2     1.414214
7   7  3.8 2.8 2     1.131371
8   8  4.2 2.8 2     1.442221
9   9  3.8 3.2 2     1.442221
10 10  4.2 3.2 2     1.697056
11 11  4.4 2.8 2     1.612452
12 12  4.4 3.2 2     1.843909
13 13  3.2 0.4 3     1.612452
14 14  3.2 0.7 3     1.315295
15 15  3.8 0.5 3     1.700000
16 16  3.5 1.0 3     1.118034
17 17  4.0 1.0 3     1.414214
18 18  4.0 0.7 3     1.640122

In [6]:
min(f$dist)

[1] 1.118034

In [7]:
max(f$dist)

[1] 2.505993

In [8]:
order(f$dist)

 [1] 16  7 14  6 17  8  9 11 13 18 10 15 12  5  3  2  4  1

In [9]:
f <- f[order(f$dist, na.last = TRUE, decreasing = FALSE), ]
f
# Get sorted data

   sno x   y   class dist
16 16  3.5 1.0 3     1.118034
7   7  3.8 2.8 2     1.131371
14 14  3.2 0.7 3     1.315295
6   6  4.0 3.0 2     1.414214
17 17  4.0 1.0 3     1.414214
8   8  4.2 2.8 2     1.442221
9   9  3.8 3.2 2     1.442221
11 11  4.4 2.8 2     1.612452
13 13  3.2 0.4 3     1.612452
18 18  4.0 0.7 3     1.640122
10 10  4.2 3.2 2     1.697056
15 15  3.8 0.5 3     1.700000
12 12  4.4 3.2 2     1.843909
5   5  1.2 1.2 1     1.969772
3   3  1.2 0.8 1     2.163331
2   2  1.0 1.0 1     2.236068
4   4  0.8 1.2 1     2.340940
1   1  0.8 0.8 1     2.505993

1. NN

2. KNN with K=5 and K=7.

3. R-NN Radius based algorithm with radius as 1.45 units.

4. MKNN with K=5

In [10]:
#NN
cat("fn claass of P for NN is", f[1,4])

fn claass of P for NN is 3

In [11]:
# KNN n=5
d1 <- f[1:5, ]
l1 <- sum(d1$class == 1)


l2 <- sum(d1$class == 2)


l3 <- sum(d1$class == 3)


if(l3 > l2 && l3 > l1)
cat("claass of P for KNN with n=5 in 3")
if(l2 > l3 && l2 > l1)
cat("claass of P for KNN with n=5 in 2")
if(l1 > l2 && l1 > l2)
cat("claass of P for KNN with n=5 in 1")

claass of P for KNN with n=5 in 3

In [21]:
# KNN n=7
d1 <- f[1:7, ]
l1 <- sum(d1$class == 1)

l2 <- sum(d1$class == 2)

l3 <- sum(d1$class == 3)

if(l3 > l2 && l3 > l1)
cat("class of P for KNN with n=7 is 3")
if(l2 > l3 && l2 > l1)
cat("class of P for KNN with n=7 is 2")
if(l1 > l2 && l1 > l2)
cat("class of P for KNN with n=7 is 1")

class of P for KNN with n=7 is 2

In [22]:
# RNN r=7
d1 <- f[f$dist < 1.45,]
l1 <- sum(d1$class == 1)

l2 <- sum(d1$class == 2)

l3 <- sum(d1$class == 3)

if(l3 > l2 && l3 > l1)
cat("class of P for RNN with r=7  is 3")
if(l2 > l3 && l2 > l1)
cat("class of P for RNN with r=7  is 2")
if(l1 > l2 && l1 > l2)
cat("class of P for RNN with r=7 is 1")

class of P for RNN with r=7  is 2

In [23]:
#MKNN k = 5
# modified knn

In [24]:
table(d1)

, , y = 0.7, class = 2, dist = 1.11803398874989

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 0   0
  7    0   0   0 0   0
  8    0   0   0 0   0
  9    0   0   0 0   0
  14   0   0   0 0   0
  16   0   0   0 0   0
  17   0   0   0 0   0

, , y = 1, class = 2, dist = 1.11803398874989

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 0   0
  7    0   0   0 0   0
  8    0   0   0 0   0
  9    0   0   0 0   0
  14   0   0   0 0   0
  16   0   0   0 0   0
  17   0   0   0 0   0

, , y = 2.8, class = 2, dist = 1.11803398874989

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 0   0
  7    0   0   0 0   0
  8    0   0   0 0   0
  9    0   0   0 0   0
  14   0   0   0 0   0
  16   0   0   0 0   0
  17   0   0   0 0   0

, , y = 3, class = 2, dist = 1.11803398874989

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 0   0
  7    0   0   0 0   0
  8    0   0   0 0   0
  9    0   0   0 0   0
  14   0   0   0 0   0
  16   0   0   0 0   0
  17   0   0   0 0   0

, , y = 3.2, class = 2, dist = 1.11803398874989

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 0   0
  7    0   0   0 0   0
  8    0   0   0 0   0
  9    0   0   0 0   0
  14   0   0   0 0   0
  16   0   0   0 0   0
  17   0   0   0 0   0

, , y = 0.7, class = 3, dist = 1.11803398874989

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 0   0
  7    0   0   0 0   0
  8    0   0   0 0   0
  9    0   0   0 0   0
  14   0   0   0 0   0
  16   0   0   0 0   0
  17   0   0   0 0   0

, , y = 1, class = 3, dist = 1.11803398874989

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 0   0
  7    0   0   0 0   0
  8    0   0   0 0   0
  9    0   0   0 0   0
  14   0   0   0 0   0
  16   0   1   0 0   0
  17   0   0   0 0   0

, , y = 2.8, class = 3, dist = 1.11803398874989

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 0   0
  7    0   0   0 0   0
  8    0   0   0 0   0
  9    0   0   0 0   0
  14   0   0   0 0   0
  16   0   0   0 0   0
  17   0   0   0 0   0

, , y = 3, class = 3, dist = 1.11803398874989

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 0   0
  7    0   0   0 0   0
  8    0   0   0 0   0
  9    0   0   0 0   0
  14   0   0   0 0   0
  16   0   0   0 0   0
  17   0   0   0 0   0

, , y = 3.2, class = 3, dist = 1.11803398874989

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 0   0
  7    0   0   0 0   0
  8    0   0   0 0   0
  9    0   0   0 0   0
  14   0   0   0 0   0
  16   0   0   0 0   0
  17   0   0   0 0   0

, , y = 0.7, class = 2, dist = 1.13137084989848

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 0   0
  7    0   0   0 0   0
  8    0   0   0 0   0
  9    0   0   0 0   0
  14   0   0   0 0   0
  16   0   0   0 0   0
  17   0   0   0 0   0

, , y = 1, class = 2, dist = 1.13137084989848

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 0   0
  7    0   0   0 0   0
  8    0   0   0 0   0
  9    0   0   0 0   0
  14   0   0   0 0   0
  16   0   0   0 0   0
  17   0   0   0 0   0

, , y = 2.8, class = 2, dist = 1.13137084989848

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 0   0
  7    0   0   1 0   0
  8    0   0   0 0   0
  9    0   0   0 0   0
  14   0   0   0 0   0
  16   0   0   0 0   0
  17   0   0   0 0   0

, , y = 3, class = 2, dist = 1.13137084989848

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 0   0
  7    0   0   0 0   0
  8    0   0   0 0   0
  9    0   0   0 0   0
  14   0   0   0 0   0
  16   0   0   0 0   0
  17   0   0   0 0   0

, , y = 3.2, class = 2, dist = 1.13137084989848

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 0   0
  7    0   0   0 0   0
  8    0   0   0 0   0
  9    0   0   0 0   0
  14   0   0   0 0   0
  16   0   0   0 0   0
  17   0   0   0 0   0

, , y = 0.7, class = 3, dist = 1.13137084989848

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 0   0
  7    0   0   0 0   0
  8    0   0   0 0   0
  9    0   0   0 0   0
  14   0   0   0 0   0
  16   0   0   0 0   0
  17   0   0   0 0   0

, , y = 1, class = 3, dist = 1.13137084989848

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 0   0
  7    0   0   0 0   0
  8    0   0   0 0   0
  9    0   0   0 0   0
  14   0   0   0 0   0
  16   0   0   0 0   0
  17   0   0   0 0   0

, , y = 2.8, class = 3, dist = 1.13137084989848

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 0   0
  7    0   0   0 0   0
  8    0   0   0 0   0
  9    0   0   0 0   0
  14   0   0   0 0   0
  16   0   0   0 0   0
  17   0   0   0 0   0

, , y = 3, class = 3, dist = 1.13137084989848

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 0   0
  7    0   0   0 0   0
  8    0   0   0 0   0
  9    0   0   0 0   0
  14   0   0   0 0   0
  16   0   0   0 0   0
  17   0   0   0 0   0

, , y = 3.2, class = 3, dist = 1.13137084989848

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 0   0
  7    0   0   0 0   0
  8    0   0   0 0   0
  9    0   0   0 0   0
  14   0   0   0 0   0
  16   0   0   0 0   0
  17   0   0   0 0   0

, , y = 0.7, class = 2, dist = 1.31529464379659

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 0   0
  7    0   0   0 0   0
  8    0   0   0 0   0
  9    0   0   0 0   0
  14   0   0   0 0   0
  16   0   0   0 0   0
  17   0   0   0 0   0

, , y = 1, class = 2, dist = 1.31529464379659

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 0   0
  7    0   0   0 0   0
  8    0   0   0 0   0
  9    0   0   0 0   0
  14   0   0   0 0   0
  16   0   0   0 0   0
  17   0   0   0 0   0

, , y = 2.8, class = 2, dist = 1.31529464379659

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 0   0
  7    0   0   0 0   0
  8    0   0   0 0   0
  9    0   0   0 0   0
  14   0   0   0 0   0
  16   0   0   0 0   0
  17   0   0   0 0   0

, , y = 3, class = 2, dist = 1.31529464379659

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 0   0
  7    0   0   0 0   0
  8    0   0   0 0   0
  9    0   0   0 0   0
  14   0   0   0 0   0
  16   0   0   0 0   0
  17   0   0   0 0   0

, , y = 3.2, class = 2, dist = 1.31529464379659

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 0   0
  7    0   0   0 0   0
  8    0   0   0 0   0
  9    0   0   0 0   0
  14   0   0   0 0   0
  16   0   0   0 0   0
  17   0   0   0 0   0

, , y = 0.7, class = 3, dist = 1.31529464379659

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 0   0
  7    0   0   0 0   0
  8    0   0   0 0   0
  9    0   0   0 0   0
  14   1   0   0 0   0
  16   0   0   0 0   0
  17   0   0   0 0   0

, , y = 1, class = 3, dist = 1.31529464379659

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 0   0
  7    0   0   0 0   0
  8    0   0   0 0   0
  9    0   0   0 0   0
  14   0   0   0 0   0
  16   0   0   0 0   0
  17   0   0   0 0   0

, , y = 2.8, class = 3, dist = 1.31529464379659

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 0   0
  7    0   0   0 0   0
  8    0   0   0 0   0
  9    0   0   0 0   0
  14   0   0   0 0   0
  16   0   0   0 0   0
  17   0   0   0 0   0

, , y = 3, class = 3, dist = 1.31529464379659

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 0   0
  7    0   0   0 0   0
  8    0   0   0 0   0
  9    0   0   0 0   0
  14   0   0   0 0   0
  16   0   0   0 0   0
  17   0   0   0 0   0

, , y = 3.2, class = 3, dist = 1.31529464379659

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 0   0
  7    0   0   0 0   0
  8    0   0   0 0   0
  9    0   0   0 0   0
  14   0   0   0 0   0
  16   0   0   0 0   0
  17   0   0   0 0   0

, , y = 0.7, class = 2, dist = 1.4142135623731

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 0   0
  7    0   0   0 0   0
  8    0   0   0 0   0
  9    0   0   0 0   0
  14   0   0   0 0   0
  16   0   0   0 0   0
  17   0   0   0 0   0

, , y = 1, class = 2, dist = 1.4142135623731

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 0   0
  7    0   0   0 0   0
  8    0   0   0 0   0
  9    0   0   0 0   0
  14   0   0   0 0   0
  16   0   0   0 0   0
  17   0   0   0 0   0

, , y = 2.8, class = 2, dist = 1.4142135623731

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 0   0
  7    0   0   0 0   0
  8    0   0   0 0   0
  9    0   0   0 0   0
  14   0   0   0 0   0
  16   0   0   0 0   0
  17   0   0   0 0   0

, , y = 3, class = 2, dist = 1.4142135623731

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 1   0
  7    0   0   0 0   0
  8    0   0   0 0   0
  9    0   0   0 0   0
  14   0   0   0 0   0
  16   0   0   0 0   0
  17   0   0   0 0   0

, , y = 3.2, class = 2, dist = 1.4142135623731

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 0   0
  7    0   0   0 0   0
  8    0   0   0 0   0
  9    0   0   0 0   0
  14   0   0   0 0   0
  16   0   0   0 0   0
  17   0   0   0 0   0

, , y = 0.7, class = 3, dist = 1.4142135623731

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 0   0
  7    0   0   0 0   0
  8    0   0   0 0   0
  9    0   0   0 0   0
  14   0   0   0 0   0
  16   0   0   0 0   0
  17   0   0   0 0   0

, , y = 1, class = 3, dist = 1.4142135623731

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 0   0
  7    0   0   0 0   0
  8    0   0   0 0   0
  9    0   0   0 0   0
  14   0   0   0 0   0
  16   0   0   0 0   0
  17   0   0   0 1   0

, , y = 2.8, class = 3, dist = 1.4142135623731

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 0   0
  7    0   0   0 0   0
  8    0   0   0 0   0
  9    0   0   0 0   0
  14   0   0   0 0   0
  16   0   0   0 0   0
  17   0   0   0 0   0

, , y = 3, class = 3, dist = 1.4142135623731

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 0   0
  7    0   0   0 0   0
  8    0   0   0 0   0
  9    0   0   0 0   0
  14   0   0   0 0   0
  16   0   0   0 0   0
  17   0   0   0 0   0

, , y = 3.2, class = 3, dist = 1.4142135623731

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 0   0
  7    0   0   0 0   0
  8    0   0   0 0   0
  9    0   0   0 0   0
  14   0   0   0 0   0
  16   0   0   0 0   0
  17   0   0   0 0   0

, , y = 0.7, class = 2, dist = 1.4422205101856

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 0   0
  7    0   0   0 0   0
  8    0   0   0 0   0
  9    0   0   0 0   0
  14   0   0   0 0   0
  16   0   0   0 0   0
  17   0   0   0 0   0

, , y = 1, class = 2, dist = 1.4422205101856

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 0   0
  7    0   0   0 0   0
  8    0   0   0 0   0
  9    0   0   0 0   0
  14   0   0   0 0   0
  16   0   0   0 0   0
  17   0   0   0 0   0

, , y = 2.8, class = 2, dist = 1.4422205101856

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 0   0
  7    0   0   0 0   0
  8    0   0   0 0   1
  9    0   0   0 0   0
  14   0   0   0 0   0
  16   0   0   0 0   0
  17   0   0   0 0   0

, , y = 3, class = 2, dist = 1.4422205101856

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 0   0
  7    0   0   0 0   0
  8    0   0   0 0   0
  9    0   0   0 0   0
  14   0   0   0 0   0
  16   0   0   0 0   0
  17   0   0   0 0   0

, , y = 3.2, class = 2, dist = 1.4422205101856

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 0   0
  7    0   0   0 0   0
  8    0   0   0 0   0
  9    0   0   1 0   0
  14   0   0   0 0   0
  16   0   0   0 0   0
  17   0   0   0 0   0

, , y = 0.7, class = 3, dist = 1.4422205101856

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 0   0
  7    0   0   0 0   0
  8    0   0   0 0   0
  9    0   0   0 0   0
  14   0   0   0 0   0
  16   0   0   0 0   0
  17   0   0   0 0   0

, , y = 1, class = 3, dist = 1.4422205101856

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 0   0
  7    0   0   0 0   0
  8    0   0   0 0   0
  9    0   0   0 0   0
  14   0   0   0 0   0
  16   0   0   0 0   0
  17   0   0   0 0   0

, , y = 2.8, class = 3, dist = 1.4422205101856

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 0   0
  7    0   0   0 0   0
  8    0   0   0 0   0
  9    0   0   0 0   0
  14   0   0   0 0   0
  16   0   0   0 0   0
  17   0   0   0 0   0

, , y = 3, class = 3, dist = 1.4422205101856

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 0   0
  7    0   0   0 0   0
  8    0   0   0 0   0
  9    0   0   0 0   0
  14   0   0   0 0   0
  16   0   0   0 0   0
  17   0   0   0 0   0

, , y = 3.2, class = 3, dist = 1.4422205101856

    x
sno  3.2 3.5 3.8 4 4.2
  6    0   0   0 0   0
  7    0   0   0 0   0
  8    0   0   0 0   0
  9    0   0   0 0   0
  14   0   0   0 0   0
  16   0   0   0 0   0
  17   0   0   0 0   0

In [25]:
df <- f[1:5,]
df

   sno x   y   class dist
16 16  3.5 1.0 3     1.118034
7   7  3.8 2.8 2     1.131371
14 14  3.2 0.7 3     1.315295
6   6  4.0 3.0 2     1.414214
17 17  4.0 1.0 3     1.414214

In [26]:
dk <- df[5,5]
dk
d1 <- df[1,5]
d1

[1] 1.414214

[1] 1.118034

In [27]:
weight <- (dk - df$dist) / (dk - d1)
weight

[1] 1.0000000 0.9549704 0.3339829 0.0000000 0.0000000

In [28]:
df <- cbind(df,weight)
df

   sno x   y   class dist     weight
16 16  3.5 1.0 3     1.118034 1.0000000
7   7  3.8 2.8 2     1.131371 0.9549704
14 14  3.2 0.7 3     1.315295 0.3339829
6   6  4.0 3.0 2     1.414214 0.0000000
17 17  4.0 1.0 3     1.414214 0.0000000

In [29]:
# MKNN n=5

l1 <- sum(df$class == 1)

l2 <- sum(df$class == 2)

l3 <- sum(df$class == 3)

if(l3 > l2 && l3 > l1)
cat("class of P for M-KNN with n=5 is 3")
if(l2 > l3 && l2 > l1)
cat("class of P for M-KNN with n=5 is 2")
if(l1 > l2 && l1 > l2)
cat("class of P for M-KNN with n=5 is 1")

class of P for M-KNN with n=5 is 3